* {
    margin: 0;
    padding: 0;
    font-family: 'Tillana', cursive;
    transition: all .3s ease;
    color: #241404;
}

::-webkit-scrollbar {
    width: 10px;
    background: #b7967f;
    padding: 0px;
    background: rgb(91, 57, 5);
}

::-webkit-scrollbar-thumb {
    background: #b7967f;
}

body {
    background-image: url('./../images/phandalin.jpg');
    background-color: #241404;
    background-size: cover;
}

.questboard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.questcontent {
    background-color: #c7a189;
    background-blend-mode: multiply;
    background-image: url("./../images/retina_wood.png");
    border: #925a13 5px solid;
    min-width: 250px;
    max-width: 1000px;
    padding: 10px;
    height: 700px;
    border-radius: 15px;
}

.main {
    display: flex;
    justify-content: space-around;
    flex: 0 1 100%;
}

header {
    text-align: center;
    letter-spacing: 5px;
}

.please-see {
    padding: 2%;
    margin: 2%;
    text-align: center;
    width: 92%;
    box-shadow: #241404 0 0 5px;
    background: #9e6c49;
    color: #241404;
    font-size: 14px;
}

.side {
    width: 33%;
    font-size: 14px;
    text-align: left;
    height: 490px;
    background: #9e6c49;
    overflow-y: scroll;
    overflow-x: hidden;
    direction: rtl;
}

.op {
    background-color: #ffe4c7;
    padding: 2%;
    margin: 4%;
    width: 88%;
    box-shadow: 0 0 0 none;
}

.side h3 {
    font-family: 'Fondamento', cursive;
}

.done,
.bigdone {
    background-image: url('./../images/picwish.png');
    background-size: 100px auto;
    background-repeat: no-repeat;
    background-position: left center;
    font-style: italic;
    background-color: #c49675;
}

.done h3 {
    font-size:12px;
    width:80%;
    text-align: right;
}

.quest-big {
    width: 63%;
    background: #9e6c49;
    height: 490px;

}

.hide, .show {
    background-color: #ffe4c7;
    padding: 2%;
    margin: 2%;
    width: 92%;
    height: 90%;
    box-shadow: 0 0 0 none;
    overflow-y: scroll;
}

.hide {
    display: none
}

.quest-big h3 {
    padding: 5px;
    background: #ffe4c7;
    text-align: center;
    font-family: 'Fondamento', cursive;
    letter-spacing: 2px;
    ;
}

.quest-big p {
    padding: 15px;
}

.quest-big img {
    width: 150px;
}

.bigdone {
    background-position: right bottom;
    background-size: 200px;
}

.linene-q {
    background-color: #cee8fc;
}

.quest-big .linene-q p {
    font-family: 'Josefin Sans', sans-serif;
    font-size:20px;
}

.quest-big .linene-q h3{
    background-color: #afd8f8;
}

@media screen and (max-width:768px){
    .main {
        flex-direction: column;
        align-items: center;
        overflow:hidden;
        height:78%;
        width:100%;
    }

    .side {
        height: auto;
        width:96%;
        margin:1%;
        padding:1%;
        direction:ltr;
        font-size: 10px;
    }

    .op {
        width:96%;
        margin: 1%;
        padding:1%;
    }

    .quest-big {
        width: 96%;
        margin: 1%;
        padding: 1%;
    }

    .hide, .show {
        width: 96%;
        margin:0% 1% 0 1%;
        padding: 0% 1% 0 1%;
        font-size:10px;
        height:100%;
        overflow-x: hidden;
    }


    .quest-big .linene-q p{
        font-size: 12px;
    }

    .quest-big h3 {
        font-size:12px;
        width:100%;
        margin-left:-1%;
    }

    .please-see {
        font-size: 10px;
    }

    .please-see h2 {
        font-size:10px;
    }

    header h1 {
        font-size:20px;
    }
}